.DS_Store
*.tex
*.toc
*.pdf
*.aux
*.log
*.out
*.gz
*.csv
*.exe
*.Rnw
ibutton_scratch.R
ibutton_find.R
ibutton_file_parse.R
ibutton_download_calib.R
ibutton_download.R
ibutton_calib_calc.R
mission_launch_single.R
mission_launch.R
time_scratch.R
